*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	text-align: center;
}

html{
	background-image: linear-gradient(to left bottom, #ff008b, #f8009d, #ed00b0, #dd01c4, #c721d8, #b126da, #9a2bdc, #7f30dd, #6728ce, #4e21bf, #321aaf, #0213a0);
	background-repeat: no-repeat;
	/*height: 100%;*/
	padding-bottom: 15rem;
}
body{
	height: 100%;
}

#root {
	background-color: #fe88eecc;
	border-radius: 2rem;
	margin: auto;
	width: 90%;
	padding: .5rem .25rem 2rem .25rem;
	
}

header.logo-box{
	margin: auto 1.5rem;
}

.section-container {
	margin: auto 1.5rem;
	padding: 0 7.5rem;
}

img {
	display: block;
	margin: auto;
}

.logo-img{
	width: 12rem;
	
}
.button{
	background-image: linear-gradient(to left bottom, #ff008b, #f8009d, #ed00b0, #dd01c4, #c721d8, #b126da, #9a2bdc, #7f30dd, #6728ce, #4e21bf, #321aaf, #0213a0);
	border:none;
	border-radius: 10px;
	box-shadow:none !important;
	color: white;
	cursor:pointer;
	display: block;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.75rem;
	font-weight: 600;
	margin:1rem auto;
	padding: 1rem;
	text-shadow: 2px 1px 1px #0D2D57;
	
}

h1{
	color:#0079ff;
	font-family: 'Architects Daughter', cursive;
	font-size: 2.25rem;	
}

h1 kids {
	color:#ff0077;
	font-family: 'Architects Daughter', cursive;
	font-size: 2.5rem;
}

.header2{
	color: #ffffffe6;
	font-family: 'Architects Daughter', cursive;
	font-size: 2rem;
	font-weight: 600;
}

.header3{
	color:#ff0077;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.5rem;
	font-weight: 600;
}

.header4{
	color:rgba(53,116,145,1);
	font-family: 'Architects Daughter', cursive;
	font-size: 1.25rem;
	font-weight: 600;
}

p{
	color: #00487b;
	font-family: 'Sarabun', sans-serif;
	font-size: 1.05rem;
}

a{
	color:#ff0077;
	font-family: 'Sarabun', sans-serif;
}
i, strong {
	font-family: 'Sarabun', sans-serif;
}

image#paper-first{
	width: 3rem;
}

input.key{
	width: 50px;
}

input.message-input{
	display: inline-block;
	height: 100px;
}

@media only screen and (max-width: 1000px)
{
	body {
		margin: auto;
	}
	.section-container {
		margin: auto .05rem;
		padding: .5rem;
	}
	header.logo-box{
		margin: auto .05rem;
	}
/*	body {
		background-color: rgba(255,255,255,0.9);
		border-radius: 20px;
		margin: auto;
		width: 95	%;
	}*/
	.button{
		font-size: 1.5em;
		width: auto;
		padding: 1rem;
		margin: 1rem auto;
	}

	header.logo-box {
    margin: 0;
	}

}
